<%= render "shared/header" %>

<div class="new-diary-main">
  <div class="new-diary-mains">
    <div class="new-diary-texts">
    <%= form_with model: @diary, id: "new-diary", url: diaries_path, method: :post, local: true do |f| %>
      <div class="new-diary-error-message">
        <%= render 'shared/error_messages', model: f.object %>
      </div>
      <div class="new-diary-text">
        <div class="New-Diary">
          New Diary
        </div>
        <div class="new-diary-header">
          <div class="new-diary-days">
            <div class="new-diary-day-label">日付</div>
            <%= f.date_field :record_day, class: "new-diary-day"%>
          </div> 
          <div class="new-diary-weathers">
            <div class="new-diary-weather-label">天気</div>
            <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class: "new-diary-weather"}) %><br>
          </div>
        </div>
        <div class="new-diary-image-text">
          <div class="new-diary-imeges">
            <div class="new-diary-images-label">画像</div>
            <%= f.file_field :images, class: "new-diary-image" %>
          </div>
        </div>
        <div class="new-diary-title-text"> 
          <div class="new-diary-titles">
            <div class="new-diray-title-label">タイトル</div>
            <%= f.text_field :title, class: "new-diary-title" %>
          </div>
        </div>
        <div class="new-diary-content-text">
          <div class="new-diary-contents">
            <div class="new-diray-content-label">内容</div>
            <%= f.text_area :content, class: "new-diary-content" %>
          </div>
        </div>
        <div class="new-diary-footer">
          <%= link_to "もどる", user_path(current_user.id) ,class: "new-diary-back-btn"%>
          <%= f.submit "To Log", class: "log-btn" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>