<%= render "shared/header" %>

<div class="diary-main">
  <div class="seach">
    <%= form_with(url: search_diaries_path, local: true, method: :get, class: "seach-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "日記を検索する", class: "seach-input" %>
      <%= form.submit "検索", class: "seach-btn" %>
    <% end %>
  </div>

  <%# 日記帳 %>
  <%= render "users/diary" %>
  <%# 日記帳 %>
  <ul class="page-btn">
    <li class="prev-page-btn">
      <span id="prev-page">前のページ</span>
    </li>
    <li class="next-page-btn">
      <span id="next-page">次のページ</span>
    </li>
  </ul>

  <div class="new-diary-btn">
    <%= link_to image_tag("icon.jpg",class:"pen-btn"), new_diary_path %>
  </div>
</div>

<%= render "shared/footer" %>

