<%= render "shared/header" %>

<div class="show-diary-main">
  <div class="show-diary-texts">
    <div class="show-diary-text">
      <div class="show-diary-header">
        <div class="show-diary-day">
          <%= @diary.record_day %>
        </div>
        <div class="show-diary-weather">
          <%= @diary.weather.name %>
        </div>
      </div>
      <div class="show-diary-images">
        <% if @diary.images.blank? %>
          <div class="show-image-blank">MyDiary</div>
        <% else %>
          <% @diary.images.each do |image| %>
            <%= image_tag image, class: "show-diary-image" if @diary.images.attached? %><br>
          <% end %>
        <% end %>
      </div>
      <div class="show-diary-title">
        <%= @diary.title %>
      </div>
      <div class="show-diary-content">
        <%= @diary.content %>
      </div>
      <%= link_to "Back", user_path(current_user.id), class: "show-back-btn" %>
    </div>
  </div>
  <div class="show-diary-action-btn">
    <%= link_to "日記を編集する", edit_diary_path, class: "edit-btn" %>
    <%= link_to "日記を削除する", diary_path, method: :delete, class: "delete-btn" %>
  </div>
</div>

<%= render "shared/footer" %>